.body{
    margin:0;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-flow: row wrap;
    background-image:url("img/pattern.jpg");
    margin:0;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}
.header{
    display:inline-flex;
    background-color: lightslategray;
    padding:10px;
    width:100%;
    height:30px;
    position: fixed;
    top: 0;
    
}
.header a{
    margin-left:20px;
    text-decoration: none;
    color: white;
}
.header a:hover{
    color:purple;
}
.logo{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    overflow-y: auto;
    margin-top: 30px;

}
.content img{
    height: 100px;
    width: 200px;
}
.post{
    height: 400px;
    width: 200px;
    margin-left: 15px;
    margin-top:25px;
    border: 1px solid black;
    text-align: center;
    box-shadow:5px 5px 5px 5px grey;
}
.post p{
    margin-top:20px;
   }
.sidebar{
    width: 25%;
    margin-top:15px;
    position: fixed;
    top: 50px;
    right: 30px;
 }
 .ad{
     display: inline-flex;
     border: 1px solid black;
     margin-top: 10px;
     box-shadow:5px 5px 5px 5px grey;
 }
 .ad p{
    margin-left: 10px;
 }
 .sidebar img{
    height: 100px;
    width: 100px;
 }
